PORT=5000

MONGODB_URI=mongodb://127.0.0.1:27017/eb-sales-portal

SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=dineo.mosupye@eagleburgmann.com
SMTP_PASS=Eagle1234!
EMAIL_FROM=dineo.mosupye@eagleburgmann.com

VITE_SUPABASE_URL=https://mxiwhuqkwdytgewkievl.supabase.com
VITE_SUPABASE_ANON_KEY=sb_publishable_nAkABTdJrjnEWtJr6K-MPQ_Idk2cD_M